# Ignorar modelos grandes
model/*.pt
model/*.h5
model/*.npy

# Ignorar audios
*.wav
audio/

# Ignorar cachés
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
.venv/
env/

# Docker
diagnostico-ia.tar
